In [15]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import datetime
import json

In [20]:
import cv2

ModuleNotFoundError: No module named 'cv2'

In [5]:
MEMORY_LIMIT = 2 ** 13
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
    try:
        tf.config.experimental.set_virtual_device_configuration(gpus[0], [tf.config.experimental.VirtualDeviceConfiguration(memory_limit=MEMORY_LIMIT)])
        print(gpus)
    except RuntimeError as e:
        print(e)

print(MEMORY_LIMIT)

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]
8192

In [6]:
# Loading processed Data
df = pd.read_csv('processed_wind_era_le_haute_2017.csv', drop)
df.head()

,Time,mean_2m_air_temperature,minimum_2m_air_temperature,maximum_2m_air_temperature,dewpoint_2m_temperature,total_percipitation,surface_pressure,mean_sea_level_pressure,u_component_of_wind_10m,v_component_of_wind_10m,...,Rs_max,Rs_std,Rbt_avg,Rbt_min,Rbt_max,Rbt_std,Rm_avg,Rm_min,Rm_max,Rm_std
0,2017-01-01 00:00:00+00:00,269.932220,268.215515,271.720673,269.278320,0.000174,98356.281250,102414.289062,1.841093,2.131431,...,6.057066,0.328785,15.643194,15.551302,15.723785,0.045122,623.617223,335.049114,909.467899,140.488750
1,2017-01-02 00:00:00+00:00,272.176300,270.802063,273.620483,271.712891,0.002059,98405.359375,102452.304688,1.904414,-0.041893,...,0.096094,0.013385,9.385312,9.319878,9.441406,0.028056,-3.198663,-6.418038,-1.675208,0.742309
2,2017-01-03 00:00:00+00:00,272.083160,271.294495,272.873596,271.322662,0.000194,98749.265625,102816.750000,2.671353,1.049495,...,0.024983,0.004306,5.133976,5.078819,5.177517,0.020990,0.000000,0.000000,0.000000,0.000000
3,2017-01-04 00:00:00+00:00,273.484558,271.917023,274.898895,272.595581,0.003920,98028.078125,102050.992188,4.853374,0.718936,...,0.349062,0.090763,3.206717,3.153499,3.242588,0.018342,-8.454560,-259.354830,-0.561125,34.181510
4,2017-01-05 00:00:00+00:00,271.901489,267.574341,274.090118,269.158569,0.000468,98922.898438,103005.500000,0.460275,-2.367627,...,0.174497,0.048003,3.035104,2.976997,3.069965,0.019878,-3.401372,-128.633385,0.000000,16.357049

In [13]:
test = tf.saved_model.load(os.path.join(os.getcwd(), 'app'))

In [12]:
loaded = test
print(list(loaded.signatures.keys()))  # ["serving_default"]
infer = loaded.signatures["serving_default"]
print(infer.structured_outputs)

['serving_default']
{'dense_1': TensorSpec(shape=(None, 10), dtype=tf.float32, name='dense_1')}

In [17]:
image = "D:/University/CEGY3S1/EG3301R/EG3301R/EuroSAT/2750/Forest/Forest_3.jpg"

In [18]:
np.array(Image.open(image))

NameError: name 'Image' is not defined